.form-row {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: start;
  gap: 1rem;
}

.toggle-wrapper {
  height: 2.265rem;
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.theme-option span:last-child {
  font: var(--body-sm);
  color: var(--text-heading);
}

.switch {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 32px;
  margin: 0;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: var(--input-base);
  transition: 0.3s;
  border-radius: 999px;
  border: 1px solid var(--input-stroke);
}

.slider::before {
  position: absolute;
  content: '';
  width: 1.5rem;
  height: 1.5rem;
  left: 3px;
  top: 50%;
  transform: translate(0, -50%);
  background-color: var(--input-stroke);
  transition: 0.3s;
  border-radius: 50%;
}

#theme-toggle:checked + label.switch .slider {
  background-color: var(--brand-light);
}

#theme-toggle:checked + label.switch .slider::before {
  background-color: var(--text-heading);
  transform: translate(30px, -50%);
}

/*configurando 'claro' e 'escuro' do checkbox estilo*/

.text-light {
  display: none;
}

#theme-toggle:checked ~ .theme-label .text-dark {
  display: none;
}

#theme-toggle:checked ~ .theme-label .text-light {
  display: inline;
}

/* estilizando os ultimos checkbox a seguir*/

.checkbox-terms {
  all: unset;
  display: none;
}

.custom-checkbox-wrapper {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
  margin: 0;
  margin-bottom: 1rem;
}

.checkbox-image {
  background-image: url(../assets/images/checkboxdefault.png);
  width: 1.25rem;
  height: 1.25rem;
  background-repeat: no-repeat;
  background-position: center;
}

.terms span {
  font: var(--body-sm);
  color: var(--text-body);
}

.terms span strong {
  color: var(--brand-light);
  text-decoration: underline;
}

.checkbox-terms:checked + .custom-checkbox-wrapper .checkbox-image {
  background-image: url(../assets/images/checkboxcheck.png);
  transition: 0.1s;
}