.grid {
  display: grid;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.grid-flow-row {
  grid-auto-rows: row;
}

.grid-cols-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gap-8 {
  gap: 8px;
}

input[type="radio"] {
  appearance: none;
}

.card {
  padding: 0.25rem 0.25rem 1rem 0.25rem;
  background-color: var(--shape-button);
  position: relative;
  display: grid;
  gap: 0.2rem;
  border-radius: 0.5rem;
}

.card img {
  width: 100%;
  object-fit: cover;
  height: 4rem;
  border-radius: 0.25rem;
}

.card h2 {
  font: var(--body-sm);
  display: block;
  text-align: center;
  padding-top: 0.70rem;
}

.card input[type="radio"] {
  position: absolute;
  inset: 0;
}

.card input[type="radio"]:checked {
  outline: 2px solid var(--brand-light);
  outline-offset: -2px;
  border-radius: 8px;
}
