label {
  font: var(--body-sm);
  color: var(--text-body);
  display: block;
  margin: 1.5rem auto .75rem auto;
}

.margin-0 {
  margin: 0;
}

.input-title {
  font: var(--body-md);
  width: 100%;
  max-width: 35rem;
  height: 3rem;
  padding-left: 1rem;
  border: 1px solid var(--input-stroke);
  background-color: var(--input-base);
  border-radius: 0.5rem;
}

.input-date {
  font: var(--body-md);
  width: 100%;
  max-width: 17rem;
  height: 3rem;
  padding: 1rem;
  border: 1px solid var(--input-stroke);
  background-color: var(--input-base);
  border-radius: 0.5rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

input[type="date"] {
  color: var(--input-placeholder);
  text-transform: uppercase;

  &::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
}

.input-radio {
  display: none;
}

.input-local {
  font: var(--body-md);
  width: 100%;
  max-width: 17rem;
  height: 3rem;
  padding: 1rem;
  border: 1px solid var(--input-stroke);
  background-color: var(--input-base);
  border-radius: 0.5rem;
}

.radio-group {
  display: flex;
  max-width: 17rem;
  height: 3rem;
  border: 1px solid var(--input-stroke);
  border-radius: 0.5rem;
  overflow: hidden;
  padding: 0.240rem;
  gap: 0.25rem;
}

.input-radio:checked + label svg path {
  fill: var(--brand-light);
}

.radio-label {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: transparent;
  color: var(--text-heading);
  cursor: pointer;
  border: none;
}

.icon {
  width: 1rem;
  height: 1rem;
}

.input-radio:checked + .radio-label {
  background-color: var(--shape-button);
  color: var(--text-heading);
  font-weight: bold;
  border-radius: 0.325rem;
}

.input-textarea {
  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);
  border-radius: .5rem;
  padding: 1rem;
  font: var(--body-md);
  width: 100%;
  height: 8.5rem;
}

.personalization {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-top: 3rem;
}

.personalization img {
  width: 1.5rem;
  height: 1.5rem;
  display: block;
}

.upload-btn {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0;
  margin-right: 1rem;
  background-color: var(--shape-button);
  width: 7.43rem;
  height: 2.5rem;
  border-radius: .5rem;
  cursor: pointer;
  font: var(--body-sm);
  font-weight: 600;
  color: var(--text-heading);
}

.upload-btn .icon {
  background-image: url(../assets/icons/upload.svg);
  margin-left: 0.75rem;
}

.input-file::file-selector-button {
  display: none;
}

.upload-button {
  display: flex;
  align-items: center;
}

.contact-data {
  display: flex;
  margin-top: 3rem;
  align-items: center;
  gap: 0.75rem;
}

.contact-data img {
  width: 1.5rem;
  height: 1.5rem;
}

.name-contact {
  background-color: var(--input-base);
  width: 100%;
  height: 3rem;
  border-radius: 0.5rem;
  border: 1px solid var(--danger);
  padding: 1rem;
}

#contact-name::placeholder {
  font: var(--body-md);
}

.alert img {
  width: 1rem;
  height: 1rem;
}

.alert span {
  font: var(--body-xs);
  color: var(--danger);
}

.alert {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.name-contact:valid {
  border-color: var(--input-stroke);
}

#contact-name:valid + .alert {
  display: none;
}

.input-email {
  background-color: var(--input-base);
  width: 100%;
  height: 3rem;
  border: 1px solid var(--input-stroke);
  border-radius: 0.5rem;
  padding: 1rem;
}

.input-phone-number {
  background-color: var(--input-base);
  width: 100%;
  height: 3rem;
  border: 1px solid var(--input-stroke);
  border-radius: 0.5rem;
  padding: 1rem;
}

#email::placeholder {
  font: var(--body-md);
}

#phone-number::placeholder {
  font: var(--body-md);
}

hr {
  border: none;
  border: 1px solid var(--input-stroke);
  margin-top: 3rem;
  margin-bottom: 2.5rem;
  width: 100%;
}

.last-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  margin-top: 3rem;
  background-color: var(--brand-dark);
  width: 11rem;
  height: 3rem;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.last-button span {
  font: var(--body-md);
  color: var(--text-heading);
  font-weight: 600;
}

button {
  all: unset;
}

.last-button img {
  width: 1.25rem;
  height: 1.25rem;
}

